#nav-color {
    background-color: #462871;
    color: white;
}

img {
    width: 100%;
}

nav {
    width: 100%;
}

.background-black {
    background-color: black;
    color: white;
    padding: 40px;
}

.background-yellow {
    background-color: rgb(237, 241, 35);
    color: white;
    padding: 40px;
}

.nav-link {
    color: white;
}

.carousel-item {
    margin: 0px;
}
